@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 33% 92%;
    --foreground: 221 44% 15%;
    --card: 0 0% 100%;
    --card-foreground: 221 44% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 44% 15%;
    --primary: 221 44% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 225 33% 85%;
    --secondary-foreground: 221 44% 25%;
    --muted: 225 33% 88%;
    --muted-foreground: 221 44% 35%;
    --accent: 38 86% 62%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 44% 80%;
    --input: 0 0% 100%;
    --ring: 38 86% 62%;
    --chart-1: 221 44% 41%;
    --chart-2: 38 86% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 221 44% 36%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 38 86% 62%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 221 44% 46%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 221 44% 30%;
    --sidebar-ring: 38 86% 62%;
  }
  .dark {
    --background: 221 30% 12%;
    --foreground: 0 0% 98%;
    --card: 221 30% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 221 30% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 221 44% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221 30% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 38 86% 62%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 30% 25%;
    --input: 221 30% 25%;
    --ring: 38 86% 62%;
    --chart-1: 221 44% 61%;
    --chart-2: 38 86% 62%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
    --sidebar-background: 221 30% 14%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 38 86% 62%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 221 30% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 221 30% 20%;
    --sidebar-ring: 38 86% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
